﻿@model Forprotection.Models.ForgotPasswordViewModel

    <div class="main-login">


        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "box", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h4 style="color:white">Введите адрес электронной почты.</h4>
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <input type="text" name="Email" id="Email" data-val="true" data-val-email="Поле почта не содержит допустимый адрес эллектронной почты." data-val-required="Требуется поле Почта." placeholder="Эл. почта">
            <input type="submit" value="Отправить ссылку" />
        }
    </div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
