﻿@using Forprotection.Models
@model LoginViewModel
@{
    ViewBag.Title = "Выполнить вход";
}

    <div class="main-login">
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "box", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <h1>Вход</h1>
            <input type="text" name="Email" id="Email" data-val="true" placeholder="Эл. почта">
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            <input type="password" name="Password" id="Password" data-val="true" placeholder="Пароль">
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })



            <input type="submit" value="Выполнить вход" />
            <p>
                @Html.ActionLink("Регистрация нового пользователя", "Register")
            </p>

            <p>
                @Html.ActionLink("Забыли пароль?", "ForgotPassword")
            </p>

        }
    </div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
