﻿@model Forprotection.Models.RegisterViewModel
@{
    ViewBag.Title = "Регистрация";
}
    <div class="main-login">
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "box", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <h1>Регистрация</h1>
            <input type="text" name="Email" id="Email" data-val="true" placeholder="Эл. почта">
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            <input type="password" name="Password" id="Password" data-val="true" data-val-length-max="100" data-val-length-min="6" placeholder="Пароль">
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            <input type="password" name="ConfirmPassword" id="ConfirmPassword" data-val="true" data-val-equalto-other="*.Password" placeholder="Повторите пароль">
            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
            <input type="submit" value="Регистрация" />
        }
    </div>
        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
