﻿@model Forprotection.Models.ResetPasswordViewModel

    <div class="main-login">
        @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "box", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h1>СБРОС ПАРОЛЯ</h1>
            @Html.ValidationSummary("", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Code)

            <input type="text" name="Email" id="Email" data-val="true" data-val-email="Поле Адрес электронной почты не содержит допустимый адрес электронной почты." data-val-required="Требуется поле Адрес электронной почты." placeholder="Эл. почта">


            <input type="password" name="Password" id="Password" data-val="true" data-val-length="Значение Пароль должно содержать не менее 6 символов." data-val-length-max="100" data-val-length-min="6" data-val-required="Требуется поле Пароль." placeholder="Пароль">

            <input type="password" name="ConfirmPassword" id="ConfirmPassword" data-val="true" data-val-equalto="Пароль и его подтверждение не совпадают."  data-val-equalto-other="*.Password" placeholder="Пароль">


            <input type="submit" value="Сброс" />

        }
    </div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
