﻿<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="~/Images/favicon.png">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>4protection</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <header>

        <div class="call">
            <a href="@Url.Action("Index","Home")"><img class="logo0" src="~/Images/PNGlogo.png"></a>
            <div class="call_icon">
                <img src="~/Images/phone_PNG49051.png" alt="">
                <div class="call_text">
                    <p>
                        +38 (096) 895-18-82
                    </p>
                </div>
            </div>
        </div>
        <div class="menu_wrap">
            <ul class="menu">
                <li>@Html.ActionLink("СТАТЬИ", "Articles", "Home")</li>
                <li>@Html.ActionLink("ВОПРОС-ОТВЕТ", "FAQ", "Home")</li>
                <li>@Html.ActionLink("ПРОМОКОДЫ", "Promocodes", "Home")</li>
                <li>@Html.ActionLink("ЗАКАЗЫ", "OrderAdmin", "Home")</li>

                @Html.Partial("_LoginPartial")

            </ul>
        </div>
        <a href="https://www.omnimedica.com"><img class="logo1" src="~/Images/logo1.png"></a>

        <div class="mobile_menu">
            <a href="" class="menu-btn">
                <span></span>
            </a>
        </div>

    </header>
    <div class="huy">
        @RenderBody()

    </div>
    <div class="footer">
        <div class="text_block">
            <div class="text-box">
                <h1>
                    О НАШЕЙ КОМПАНИИ
                </h1>
                <p>
                    ВПЕРВЫЕ В УКРАИНЕ!
                    Представляем Вам широко известную спортивную линию «4protection» от швейцарского медицинского холдинга Omnimedica.
                    Единственная в своей сфере серия спортивного питания, в основу которой входит запатентованное вещество «ОМ24».
                    «ОМ24» – уникальная формула, что ускоряет процесс регенерации клеток и стимулирует создание новых!
                    <br />
                    Линейка товаров состоит только из самых необходимый добавок и не раздута дублирующимися товарами ради маркетинга.
                </p>
            </div>

            <div class="text-box">
                <h1>
                    ПАРТНЕРЫ
                </h1>
                <p>
                    OMNIMEDICA AG
                    <br />
                    Spin-off company
                    <br />
                    ETH Zurich
                    <br />
                    <br />
                    Lättenstrasse 27
                    <br />
                    CH-8952 Schlieren
                    <br />
                    <br />
                    Tel +41 43 433 21 61
                    <br />
                    <a href="https://www.omnimedica.com/en/produkte/4protection-sports-system-en/">omnimedica.com</a>

                </p>
            </div>
        </div>
        <div class="contact_line">
            <img src="~/Images/phone_PNG49051.png" alt="">
            <p>+38 (096) 895-18-82</p>
        </div>
        <div class="visa_license">
            <img src="~/Images/visa-mc.png" alt="">
        </div>
        <div class="visa_license-href">
            <a href="@Url.Action("License","Home")">Пользовательское соглашение</a><br>
            <a href="@Url.Action("LicenseDelivery","Home")">Доставка/Оплата</a>
        </div>
        <p class="foot">СЛЕДИТЕ ЗА НАМИ В СОЦ. СЕТЯХ</p>
        @{
            string inst = null;
            string facebook = null;
            using (StreamReader fs = new StreamReader(Server.MapPath("~/AdminPass/instagram.txt")))
            {
                while (true)
                {
                    // Читаем строку из файла во временную переменную.
                    string temp = fs.ReadLine();

                    // Если достигнут конец файла, прерываем считывание.
                    if (temp == null) { break; }

                    inst = temp;
                }
            }
            using (StreamReader fs = new StreamReader(Server.MapPath("~/AdminPass/facebook.txt")))
            {
                while (true)
                {
                    // Читаем строку из файла во временную переменную.
                    string temp = fs.ReadLine();

                    // Если достигнут конец файла, прерываем считывание.
                    if (temp == null) { break; }

                    facebook = temp;
                }
            }
        }
        <div class="social">

            <div class="social-item">
                <a href="@inst" target="_blank">
                    <img src="~/Images/instagram.png" alt="">
                </a>
            </div>
            <div class="social-item">
                <a href="@facebook" target="_blank">
                    <img src="~/Images/facebook-transparent-circle-6.png" alt="">
            </div>
        </div>
    </div>
    <!--конец футера-->
    <!--JavaScript-->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/script.js"></script>
    <script src="~/Scripts/owl.carousel.min.js"></script>


    @RenderSection("scripts", required: false)
</body>
</html>