﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <li>
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
            if (User.IsInRole("admin"))
            {
                @Html.ActionLink("Здравствуйте " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
    }

    <a href="javascript:document.getElementById('logoutForm').submit()" class="LogOffBtn">ВЫЙТИ</a>
}
    </li>
}
else
{
    <li>@Html.ActionLink("ВХОД", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    <li> @Html.ActionLink("РЕГИСТРАЦИЯ", "Register", "Account", routeValues: null, htmlAttributes: new {id = "registerLink" })</li>

}
