﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Заблокировано";
}

<hgroup style="height:400px;display:flex;justify-content:center;flex-direction:column;" class="box-article">
    <h1 class="text-danger">Заблокировано.</h1>
    <h1 class="text-danger">Эта учетная запись заблокирована. Попробуйте еще раз позже.</h1>
</hgroup>
