.huy{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.articles{
    width: 1100px;
}
.article{
    margin: 30px 0;
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 400px;
}
.article-image img{
    width: 100%;
    height: 400px;
    border-radius: 30px;
    box-shadow: 0px 0px 128px -4px #000;
}
.article-text{
    white-space: pre-wrap;
    background-color: #E8E8E8;
    display: none;
    padding: 50px;
    color: #000;
    border-radius: 30px;
    box-shadow: 0px 0px 128px -4px #000;
}
time {
    color: #757575;
}

@media (max-width: 1201px) {
   .articles{
    width: 825px;
}
    .article{
    margin: 30px 0;
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 300px;
}
.article-image img{
    width: 100%;
    height: 300px;
    border-radius: 30px;
    box-shadow: 0px 0px 128px -4px #000;
}
}

@media (max-width: 911px) {
      .articles{
    width: 550px;
}
    .article{
    margin: 30px 0;
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
}
.article-image img{
    width: 100%;
    height: 200px;
    border-radius: 30px;
    box-shadow: 0px 0px 128px -4px #000;
}
}

@media (max-width: 551px) {
      .articles{
    width: 350px;
}
    .article{
    margin: 30px 0;
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 127px;
}
.article-image img{
    width: 100%;
    height: 127px;
    border-radius: 30px;
    box-shadow: 0px 0px 128px -4px #000;
}
    .article-text{
    font-size: 16px;
}
}