
.main-login{
  display: flex;
  justify-content: center;
}
.box-product{
  margin-top: 50px;
  border-radius: 20px;
  width: 300px;
  padding: 40px;
  background: #1a1a1a;
  box-shadow: 0px 0px 128px -14px #000;
  text-align: center;
}
    .box-product h1 {
        color: white;
        text-transform: uppercase;
        font-weight: 500;
    }
    .box-product input[type = "text"], .box-product input[type = "number"], .box-product input[type = "password"], textarea {
        border: 0;
        background: none;
        display: block;
        margin: 20px auto;
        text-align: center;
        border: 2px solid #ff2d2d;
        padding: 14px 10px;
        width: 200px;
        outline: none;
        color: white;
        border-radius: 24px;
        transition: 0.25s;
    }
        .box-product input[type = "text"]:focus, .box-product input[type = "number"]:focus, textarea:focus {
            width: 280px;
            border-color: #2ecc71;
        }
    .box-product input[type = "submit"] {
        border: 0;
        background: none;
        display: block;
        margin: 20px auto;
        text-align: center;
        border: 2px solid #2ecc71;
        padding: 14px 40px;
        outline: none;
        color: white;
        border-radius: 24px;
        transition: 0.25s;
        cursor: pointer;
    }
        .box-product input[type = "submit"]:hover {
            background: #2ecc71;
        }
textarea{
    resize: none;
}
.footer{
  
  
}