.content_faq{
    display: flex;
    flex-direction: column;   
    align-items: center;
    width: 90%;
}
.faq-but {
    width: 60%;
        display: flex;
    flex-direction: column;   
    align-items: center;
    margin-top: 30px;
}
.faq-btn {
    text-align:center;
    width: 100%;
    box-shadow: 0px 0px 128px -4px #000;
    background-color: #2c2c2c;
    padding: 30px;
    color: aliceblue;
    border-radius: 18px;
    margin-top: 25px;
    z-index:1;
}
.faq-btn, .faq_menu{
    word-wrap: break-word;
}
.faq-btn p,.faq_menu p{
    white-space:pre-wrap;
}

.faq_menu {
    text-align: center;
    width: 100%;
    box-shadow: 0px 0px 128px -4px #000;
    background-color: #2c2c2c;
    padding: 30px;
    color: aliceblue;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    margin-top:-10px;
    transition: .5s;
    z-index:0;
}
@media(max-width:951px){
    .faq-but {
        width: 90%;
    }
}