* {
  font-family: 'Roboto', sans-serif;

}
html { overflow-x: hidden; }


a {
    text-decoration: none;
}
ul {
    padding-inline-start: 0px;
    margin-left:0px;
}
body {
/*    background-image: url(../img/Black-Dark-Spot-White-Texture-Background-Pattern-WallpapersByte-com-3840x2160.jpg);*/
/*
    background-size: cover;
    background-position: center;
*/
    background-color: #4c4c4c;
/*    background-image: url("https://www.transparenttextures.com/patterns/purty-wood.png");*/
 background-image: url("https://www.transparenttextures.com/patterns/rocky-wall.png");
    margin: 0;
    padding: 0;
    width: 100%;
}

/*<!--начало хедера-->*/
.store_trash img {
    width: 50px;
    height: 50px;
}

header {
    display: flex;
    justify-content: space-between;
    height: 95px;
    width: 100%;
    background-color: #2c2c2c;


}

.logo0 {
    margin-left: 5%;
    margin-top: 16px;
    width: 200px;
    height: 60px;
    float: left;
}

.logo1 {
    margin-top: 10px;
    width: 300px;
    height: 70px;
    float: right;
    margin-right: 15px;
}

.menu {
    width: 100%;
}


.menu ul {
    align-items: center;

}

.menu li {
    display: inline-block;
    margin-right: 35px;
    margin-top: 17px;
    font-size: 16px;
    padding: 5px;
    font-weight: bold;
    list-style: none;
    transition: 0.2s;
}

.menu li a {
    color: white;
}

.menu li:hover {
    transform: scale(1.25);
    background-color: #ff2d2d;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0px 0px 78px -0px #000;
}

.login {
    border-radius: 9px;
    padding: 15px;
    background-color: #ff2d2d;
    background-size: cover;
}

.login:hover {
    transform: scale(1.1);
}

.store_trash {
    display: flex;
    float: right;
    margin-top: 5px;
    transition: 0.2s;
    width: 80px;
}

.store_trash:hover {
    transform: scale(1.2);
    background-color: #ff2d2d;
    border-radius: 7px;
    box-shadow: 0px 0px 78px -0px #000;
}
.store_trash span{
    position: relative;
    right: 5px;
    bottom: 40px;
    color: aliceblue;
    border: 1px solid  #fff;
    border-radius: 50px;
    background-color: #ff2d2d;
    padding: 3px;
}

.mobile_menu {
    display: none;

}

.menu-btn {
    display: block;
    width: 50px;
    height: 50px;
    background-color: #ff2d2d;
    border-radius: 50%;
    position: relative;
}

.menu-btn span,
.menu-btn span::before,
.menu-btn span::after {
    position: absolute;
    top: 50%;
    margin-top: -1px;
    left: 50%;
    margin-left: -10px;
    width: 20px;
    height: 2px;
    background-color: #fff;
}

.menu-btn span::before,
.menu-btn span::after {
    content: '';
    display: block;
    transition: 0.2s;
}

.menu-btn span::before {
    transform: translateY(-5px);
}

.menu-btn span::after {
    transform: translateY(5px);
}
.call_icon_mobile{
    display: none;
}
.call_icon{
    cursor: pointer;
   margin-top: 20px;
    margin-left: 165px;
}
.call_text{
    position: absolute;
    z-index: 2;
    margin-top: 20px;
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 20px;
    background-color: #2c2c2c;
    transition: 0.4s;
    visibility: hidden;
    opacity: 0;
}
.call_icon img{
    
    margin-left: 15px;
transition: 0.2s;
}
.call_icon:hover img{
    
    background-color: #ff2d2d;
    border-radius: 15px;
    transform: scale(1.2);
}
.call_icon:hover .call_text{
    opacity: 1;
    visibility: visible;
}
.call{
    display: inline-block;
    width: 300px;
}



@media (max-width: 1281px) {
    header {
        z-index: 2;
        position: fixed;
    }
    .huy{
        padding-top: 95px;
        z-index: 1;
        
    }
    .menu li {
        font-size: 12px;
        margin-right: 15px;
    }

    .logo0 {
        margin-left: 7%;
        margin-top: 22px;
        width: 170px;
        height: 50px;
        float: left;
    }

    .logo1 {
        margin-top: 20px;
        width: 225px;
        height: 50px;
        float: right;
    }
    .call{
         width: 255px;
    }
}
@media (max-width: 1051px) {
    

    header {
        z-index: 2;
        position: fixed;
    }
    .huy{
        padding-top: 95px;
        z-index: 1;
    }
    .mobile_menu {
        display: block;
        margin-top: 20px;
        width: 100%;
    }

    .store_trash {
        margin-left: 9px;
        margin-top: 40px;
        width: 100%;
        display: flex;
        float: none;
        justify-content: center;
    }

    .logo1 {
        display: none;
    }

    .menu-btn {
        float: right;
        margin-right: 30px;
    }

    .menu-btn.menu_active span:before {
        width: 10px;
        transform: rotate(-45deg);
        transform-origin: left bottom;
    }

    .menu-btn.menu_active span:after {
        width: 10px;
        transform: rotate(45deg);
        transform-origin: left top;
    }

    .menu_wrap {
        visibility: hidden;
        opacity: 0;
    }

    .menu_wrap.menu_active {
        visibility: visible;
        opacity: 1;
        position: fixed;
        left: 0;
        top: 0;
        background-color: #1a1a1a;
        width: 100%;
        height: 100vh;
        display: flex;
    }

    .menu_wrap.menu_active .menu {
        margin: auto;
    }

    .menu_wrap.menu_active .menu li {
        display: block;
        text-align: center;
        margin: 0;
        margin-top: 40px;
    }
        .call_icon{
        display: none;
    }
    .call_icon_mobile{
        margin-top: 15px;
       display: flex;
        cursor: pointer;
        justify-content: center;
        align-items: center;
}
.call_text_mobile{
    
    z-index: 3;
   
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 20px;
    background-color: #2c2c2c;
    transition: 0.4s;
    display: none;
}
.call_icon_mobile img{
    width: 50px;
    height: 50px;
    
transition: 0.2s;
}
.call_icon_mobile:hover img{
    
    background-color: #ff2d2d;
    border-radius: 15px;
    
}
.call_icon_mobile:hover .call_text_mobile{
    display: block;
}
}

@media (max-width: 551px) {
    header {
        position: fixed;
        z-index: 2;
    }
    .huy{
        padding-top: 95px;
        z-index: 1;
    }
    .mobile_menu {
        display: block;
        margin-top: 20px;
       
        margin-left: -25px;
        width: 100%;
        
    }
    .menu-btn.menu_active span:before {
        width: 10px;
        transform: rotate(-45deg);
        transform-origin: left bottom;
    }

    .menu-btn.menu_active span:after {
        width: 10px;
        transform: rotate(45deg);
        transform-origin: left top;
    }

    .menu_wrap {
        visibility: hidden;
        opacity: 0;
    }

    .menu_wrap.menu_active {
        visibility: visible;
        opacity: 1;
        position: fixed;
        left: 0;
        top: 0;
        background-color: #1a1a1a;
        width: 100%;
        height: 100vh;
        display: flex;
    }

    .menu_wrap.menu_active .menu {
        margin: auto;
    }

    .menu_wrap.menu_active .menu li {
        display: block;
        text-align: center;
        margin: 0;
        margin-top: 40px;
    }
    ul {
        margin: 0;
        padding: 0;
    }

}
@media (max-width: 391px) {
    .menu-btn {
        float: right;
        margin-right: 30px;
    }

    .logo0 {
        margin-left: 1%;
        margin-top: 22px;
        width: 155px;
        height: 50px;
        float: left;
    }
    ul{
        margin:0;
        padding:0;
    }
}
/*<!--конец хедера-->*/




main {
    width: 100%;
    
     padding: 0;
     margin: 0;
}


/*<!--начало футера-->*/
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    background-color: #1a1a1a;
    width: 100%;
    text-align: center;
    margin-top: 90px;
    position:static;
}
.text_block{
     display: flex;
    justify-content: space-around;
   
} 
.text-box { 
    
    width: 80%;
    padding: 0px 100px 10px 100px;
    margin-top: 10px;
}
@media (max-width: 991px) {
    .text_block {
        justify-content: center;
        flex-direction: column;
    }
    .text-box { 
    width: 80%;
   padding: 0% 10% 1% 10%;
    margin-top: 10px;
}
}

.contact_line{
    height: 70px;
    background-color: #2c2c2c;
    text-align: right;
    color: aliceblue;
    display: flex;
    width: 250px;
    border-radius: 50px;
}
.contact_line img{
    width: 50px;
    height: 50px;
    margin: 10px;
    margin-left: 20px;
}
.contact_line p{
    padding: 10px;
}

.back {
    position: fixed;
    width: 35px;
    height: 35px;
    bottom: 20px;
    right: 20px;
}

.foot {
    margin-top: 20px;
    font-size: 10px;
}

.social {
    margin-bottom: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.social-item {
    margin: 0 10px;
    transition: .3s;
}

    .social-item img {
        width: 35px;
        height: 35px;
    }

.social img:hover {
    transform: scale(1.2);
}

/*<!--конец футера-->*/
/*<!--конец футера-->*/

#liqpay_checkout {
    width:100%;
    height:100%;
}

.visa_license img {
    width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.visa_license-href a {
    color: #fff;
}