.lol{
    display: flex;
    justify-content: center;
}
.license_container{
    margin-left: 20px;
    margin-right: 20px;
    background-color: #2c2c2c;
    margin-top: 30px;
    border-radius: 30px;
    box-shadow: 0px 0px 128px -4px #000;
    max-width: 1200px;
}
.license-line{
    padding-top: 30px;
    text-align: center;
    color: #fff;
    margin-left: 30px;
    margin-right: 30px;
}
.license-text {
    display: flex;
    justify-content: center;
    color: #fff;  
    width: 100%;
}
.license-text h1 {
    text-align: center;
}
.license-text h2 {
    font-size: 2rem;
    margin-left: 40px;
}
.license-text li, .license-text p{
    font-size: 20px;
    line-height: 30px;
}
.license-text li {
    padding: 0 0 40px;
}
.license-box {
    max-width: 500px;
    margin-left: 20px;
    margin-right: 20px;
}
@media (max-width: 921px) {
    .license-text {
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 521px){
    .license-line{
    margin-left: 15px;
        margin-right: 15px;}
        .license_container{
    margin-left: 0px;
    margin-right: 0px;
    }}