.lol{
    display: flex;
    justify-content: center;
}
.license_container-box{
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #2c2c2c;
    border-radius: 30px;
    box-shadow: 0px 0px 128px -4px #000;
    max-width: 800px;
}
.license-text-box {
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
    width: 70%;
    margin-left: 15%;
    display: flex; 
    font-size: 20px;
}
.license-text-box h2 {
    text-align: center;
    font-size: 2rem;
}
@media (max-width: 1281px) {
    .license-text {
        width: 80%;
        margin-left: 10%;
    }
}
@media (max-width: 651px) {
    .license-text-box{
        width: 90%;
        margin-left: 5%;
        
    }
    .license_container-box{
    margin-left: 0px;
    margin-right: 0px;
        margin-top: 20px;
    }
}