
label {
    color: white;
}
.main-login {
    display: flex;
    justify-content: center;
    color: white;
}
.box{
  margin-top: 100px;
  border-radius: 20px;
  width: 300px;
  padding: 40px;
  background: #1a1a1a;
  box-shadow: 0px 0px 128px -14px #000;
  text-align: center;
}
.box h1{
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
    .box input[type = "text"], .box input[type = "password"], .box input[type = "number"] {
        border: 0;
        background: none;
        display: block;
        margin: 20px auto;
        text-align: center;
        border: 2px solid #ff2d2d;
        padding: 14px 10px;
        width: 200px;
        outline: none;
        color: white;
        border-radius: 24px;
        transition: 0.25s;
    }
        .box input[type = "text"]:focus, .box input[type = "password"]:focus{
            width: 280px;
            border-color: #2ecc71;
        }
        .box input[type = "number"]:focus {
            border-color: #2ecc71;
        }
        .box input[type = "submit"] {
            border: 0;
            background: none;
            display: block;
            margin: 20px auto;
            text-align: center;
            border: 2px solid #2ecc71;
            padding: 14px 40px;
            outline: none;
            color: white;
            border-radius: 24px;
            transition: 0.25s;
            cursor: pointer;
        }
.box input[type = "submit"]:hover{
  background: #2ecc71;
}
input[type="file" ]{
    color:white;
}

@media (max-width: 375px) {
    .box {
        margin-top: 100px;
        border-radius: 20px;
        width: 250px;
        padding: 20px;
        background: #1a1a1a;
        box-shadow: 0px 0px 128px -14px #000;
        text-align: center;
    }

        .box input[type = "text"]:focus, .box input[type = "password"]:focus{
            width: 230px;
            border-color: #2ecc71;
        }
        .box input[type = "number"]:focus {
            border-color: #2ecc71;
        }
}