.login, a{
    color:white;
}
main {
    width: 100%;
   
     padding: 0;
     margin: 0;

}
.owl-carousel {
    max-height: 100% ;
}
.item{
    max-height: 750px;
}
body {
    min-height: 100vh;
}

@media (max-width: 911px) {
    main {
        position: relative;
    }
}

/*СЛАЙДЕР*/


/*СЛАЙДЕР end*/
/*<!--начало товаров-->*/

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width:100%;
}

.store-line {
    height: 80px;
    width: 100%;
    margin-top: 15px;
    
    text-align: center;
    color: #fff;
    background-color: #2c2c2c;
}
@media (max-width: 3841px) {
    .owl-carousel {
        max-height: 100%;
    }

    .item {
        max-height: 1500px;
    }

    .owl-carousel .owl-theme {
        display: block;
        align-content: center;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 1921px) {
    .owl-carousel {
        max-height: 100%;
    }

    .item {
        max-height: 750px;
    }

    .owl-carousel .owl-theme {
        display: block;
        align-content: center;
        align-items: center;
        justify-content: center;
    }
}
@media (max-width: 991px) {
    .store-line {
        margin-top: 0;
    }

        .store-line h1 {
            padding-top: 20px;
        }
}

.product-bar {
    display: inline-grid;
}

.clicked {
    opacity: 1;
}

.product {
    box-shadow: 0px 0px 48px -4px #000;
    background-color: #404040;
    border-radius: 18px;
    height: 700px;
    width: 375px;
    margin: 30px;
    margin-top: 40px;
    transition: 0.1s;

}

.product:hover {
    transform: scale(1.1);
}
.item{
    background-color: #ff2d2d;
}

.product .tovar {
    width: 355px;
    height: 355px;
    margin-left: 10px;
}

.product-but p {
    color: aliceblue;
    margin-left: 106px;
}

.product-but {
    display: flex;
    margin-top: 30px;
    padding-bottom:30px;
}

.product-text {
    text-align: center;
    color: aliceblue;
    width: 90%;
    margin-left: 5%;
    margin-top: 8%; 
}

.product-text h4 {
    font-size: 30px;
    margin-top: -30px;
}

.red {
    background-color: #ff2d2d;
    width: 70px;
}
.green {
    background-color: #2ecc71;
    width: 120px;
}
.yellow {
    background-color: #C0C23B;
    width: 120px;
}
.grey {
    background-color: #2c2c2c;
    width: 125px;
}
.price{
     margin-top: -20px;
    display: inline-block;
    border-radius: 9px;
    padding: 5px;
    font-size: 15px;
}

.plus-btn {
    margin-left: 25px;
    cursor: pointer;
    transition: 0.2s;
}
    .plus-btn img {
        width: 50px;
        height: 50px;
    }

.plus-btn:hover {
    transform: scale(1.1);
}

.store-btn {
    margin-right: 25px;
    cursor: pointer;
    transition: 0.2s;
}
    .store-btn img {
        width: 50px;
        height: 50px;
    }
.call_icon img{
    width: 50px;
    height: 50px;
}
.store-btn:hover {
    transform: scale(1.1);
}

.product-but input {
    margin-right: 10px;
    margin-left: 10px;
    background-color: #1a1a1a;
    border: 0px;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    text-align: center;
    font-size: 30px;
    color: aliceblue;
}

.plus_menu {
    box-shadow: 0px 0px 128px -4px #000;
    background-color: #404040;
    padding: 30px;
    color: aliceblue;
    border-radius: 18px;
    margin-top: 25px;
    transition: .5s;
    opacity: 0;
    
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
@media (max-width: 991px) {
    .product {
        box-shadow: 0px 0px 128px -4px #000;
        background-color: #404040;
        border-radius: 18px;
        height: 685px;
        width: 335px;
        margin: 30px;
        margin-top: 40px;
        transition: 0.1s;
    }

    .product:hover {
        transform: scale(1.0);
    }

    .product .tovar {
        width: 315px;
        height: 315px;
        margin-left: 10px;
        margin-top: 10px;
    }

    .product-but p {
        color: aliceblue;
        margin-left: 60px;
    }

}
@media (max-width: 551px) {
    .product {
        box-shadow: 0px 0px 128px -4px #000;
        background-color: #404040;
        border-radius: 18px;
        height: 685px;
        width: 335px;
        margin: 30px;
        margin-top: 40px;
        transition: 0.1s;
    }

    .product:hover {
        transform: none;
    }

    .product .tovar {
        width: 315px;
        height: 315px;
        margin-left: 10px;
        margin-top: 10px;
    }

    .product-but p {
        color: aliceblue;
        margin-left: 60px;
    }
}

/*<!--конец товаров-->*/

