.order_table{
    display: flex;
    flex-direction: column;
   align-items: center;
    margin-top: 50px;
   width: 90%;
   overflow:hidden;
}
#customers {
    box-shadow: 0px 0px 48px -4px #000;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 90%;
}

#customers td, #customers th {
    color: white;
  padding: 8px;
    vertical-align: middle;
}

#customers tr:nth-child(even){background-color: #404040;}

#customers tr:hover td {
    background-color: rgba(122, 122, 122,0.7);

}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #ff2d2d;
  color: white;
}
#customers td img{
    width: 50px;
    height: 50px;
}
.order_block{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-top: 10px;
    border-radius: 30px;
    padding: 30px;
    
}

.order_price{
    display: inline-flex;
    color: white;
    font-size: 14px;
}
.order_promo{
    display: flex;
    align-items: center;
    font-size: 12px;
    color: white;
}
.order_promo input[type = "text"],.box input[type = "password"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #ff2d2d;
  padding: 14px 10px;
  width: 120px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.order_promo input[type = "text"]:focus,.box input[type = "password"]:focus{
  width: 200px;
  border-color: #2ecc71;
}

.order_btn input[type = "submit"]{
  font-size: 18px;
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.order_btn input[type = "submit"]:hover{
  background: #2ecc71;
}
.order_btn{
background-color: #404040; 
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0px 0px 48px -4px #000;
}
.order_gg{
background-color: #404040; 
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0px 0px 68px -4px #000;
}
@media (max-width: 911px) {
    .order_block {
        flex-direction: column;
        width: 350px;
    }
    .order_btn{
        margin-top: 15px;
    }
    
}