.main-login{
  display: flex;
  justify-content: center;
  
}
.collapsible {

    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

    .active, .collapsible:hover {
        background-color: #555;
    }

.content_order {
    margin-top: 5px;
    border-radius: 18px;
    padding: 18px;
    display: none;
    overflow: hidden;
    background-color: #2c2c2c;
}
.box{
  margin-top: 100px;
  border-radius: 20px;
  width: 500px;
  padding: 40px;
  background: #1a1a1a;
  box-shadow: 0px 0px 128px -14px #000;
  text-align: center;

}
.box h1{
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
.box input[type = "text"],.box input[type = "password"]{
  font-size: 18px;
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #ff2d2d;
  padding: 14px 10px;
  width: 350px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.box input[type = "text"]:focus,.box input[type = "password"]:focus{
  width: 450px;
  border-color: #2ecc71;
}
    #Adress:focus {
        width: 200px;
    }
.box input[type = "submit"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.box input[type = "submit"]:hover{
  background: #2ecc71;
}

select{
font-size: 18px;
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #ff2d2d;
  padding: 14px 10px;
  width: 220px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
option{
    border: 2px solid #ff2d2d;
  font-size: 14px;
  border-radius: 20px;
  padding: 5px;
  background: #1a1a1a;
}
select:focus{
  border-color: #2ecc71;
}
@media (max-width: 911px) {
.main-login{
  display: flex;
  justify-content: center;
  
}
.box{
  margin-top: 50px;
  border-radius: 20px;
  width: 290px;
  padding: 40px;
  background: #1a1a1a;
  box-shadow: 0px 0px 128px -14px #000;
  text-align: center;
}
.box h1{
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
.box input[type = "text"],.box input[type = "password"]{
  font-size: 18px;
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #ff2d2d;
  padding: 14px 10px;
  width: 220px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.box input[type = "text"]:focus,.box input[type = "password"]:focus{
  width: 260px;
  border-color: #2ecc71;
}
.box input[type = "submit"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.box input[type = "submit"]:hover{
  background: #2ecc71;
}
}
