
.main-success{
  display: flex;
  justify-content: center;
  height: 510px;
}
.box-success{
  margin-top: 100px;
  border-radius: 20px;
  width: 300px;
  padding: 40px;
  background: #1a1a1a;
  box-shadow: 0px 0px 128px -14px #000;
  text-align: center;
}
.box-success h1{
  color: white;
  text-transform: uppercase;
  font-weight: 500;
    margin-top: 50px;
}
.box-success img{
    margin-top: 50px;
    width: 100px;
    height: 100px;
}
@media (max-width: 391px) {
        .box-success{
          margin-top: 100px;
          border-radius: 20px;
          width: 270px;
          padding: 40px;
          background: #1a1a1a;
          box-shadow: 0px 0px 128px -14px #000;
          text-align: center;
        }
    
    }