
/*<!--начало товаров-->*/

.content-comment {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.product-comment {
    display: flex;
    box-shadow: 0px 0px 48px -4px #000;
    background-color: #404040;
    border-radius: 18px;
    height: 100%;
    width: 850px;
    margin-top: 40px;
   
}

.product-comment .tovar-comment {
    width: 430px;
    height: 430px;
    margin-top: -45px;
}

.product-but-comment p {
    color: aliceblue;
    margin-left: 50px;
}

.product-but-comment {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: -40px;
}

.product-text-comment {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: aliceblue;
    width: 90%;

    margin-top: 50px;
}
    .product-text-comment  p{
        margin-left: 10%;
        margin-right: 10%;
    }
    .product-text-comment h4 {
        font-size: 30px;
        margin-top: -10px;
        margin-left: 10%;
        background-color: #ff2d2d;
        padding: 5px 30px 5px 30px;
        border-radius:15px;
    }


.red {
    background-color: #ff2d2d;
}

    .price-comment {
    margin-top: -5px;
    width: 70px;
    border-radius: 9px;
    padding: 5px;
        padding-left: 20px;
        padding-right: 20px;
    font-size: 15px;
}
.price-comment p{
    margin-left: 0;
}
nobr{
    margin-right: -100%;
}
.plus-btn-comment {
    margin-left: 25px;
    cursor: pointer;
    transition: 0.2s;
    width: 50px;
    height: 50px;
}

.plus-btn-comment img {
    width: 50px;
    height: 50px;

}

.plus-btn-comment:hover {
    transform: scale(1.1);
}

.store-btn-comment {
    margin-right: 25px;
    cursor: pointer;
    transition: 0.2s;
}
.store-btn-comment img{
    width: 50px;
    height: 50px;
}

.call_icon img {
    width: 50px;
    height: 50px;
}

.product-but-comment input {
    margin-right: 10px;
    margin-left: 10px;
    background-color: #1a1a1a;
    border: 0px;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    text-align: center;
    font-size: 30px;
    color: aliceblue;
}
.commentary{
     display: flex;
    justify-content: center;
}
.box-comment{
    margin-top:30px;
  border-radius: 20px;
  width: 700px;
  padding: 40px 0px 40px 0px;
  background-color: #404040;
  box-shadow: 0px 0px 88px -10px #000;
  text-align: center;
}
.box-comment h1{
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
.box-comment input[type = "text"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #ff2d2d;
  padding: 14px 10px;
  width: 300px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
    box-shadow: 0px 0px 28px -4px #000;
}
.box-comment input[type = "text"]:focus{
  width: 350px;
  border-color: #2ecc71;
  
}
.box-comment input[type = "submit"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
    box-shadow: 0px 0px 28px -4px #000;
}
.box-comment input[type = "submit"]:hover{
  background: #2ecc71;
}
.box-comment textarea[type = "text"] {
    border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #ff2d2d;
  padding: 14px 10px;
  width: 600px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
   box-shadow: 0px 0px 28px -4px #000;
}
.box-comment textarea[type = "text"]:focus {
    width: 630px;
    border-color: #2ecc71;
}
.comment-body {
    width: 700px;
    box-shadow: 0px 0px 28px -4px #000;
    background-color: #404040;
    border-radius: 20px;
   
    margin-top: 30px;
    
}
.comment-nick {
    color: white;
    font-size: 24px;
    padding-left: 25px;
    padding-right: 25px;
    
}
.comment-date{
    opacity:0.5;
    float:right;
    margin-right:30px;
    color:white;
    font-weight:normal;
}
.comment-p {
    color: white;
    white-space: pre-wrap;
    padding-left: 25px;
    padding-right: 25px;
}
.first_row {
    display: flex;
    background-color: #2c2c2c;
    padding-left: 25px;
    padding-right: 25px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.second_row {
    display: flex;
}


@media (max-width: 991px) {
    .content-comment {
        margin-bottom: 40px;
    }
    .product-comment {
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0px 0px 128px -4px #000;
        background-color: #404040;
        border-radius: 18px;
        height: 100%;
        width: 550px;
        margin-top: 40px;
    }
    
    .product-comment .tovar-comment {
        width: 430px;
        height: 430px;
    }

    .product-but-comment p {
        color: aliceblue;
        margin-left: 0px;
    }
    .product-text-comment {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
       
        color: aliceblue;
        width: 90%;
        margin-top: 0px;
}
    .product-text-comment  p{
        margin-left: 10%;
        margin-right: 10%;
    }
    .product-text-comment h4 {
        font-size: 30px;
        margin-top: 30px;
        
}
    .product-but-comment {
        display: flex;
        margin-top: 30px;
        padding-left: 0;
}
    .price-comment {
        margin-top: -5px;
        width: 70px;
        border-radius: 9px;
        padding: 5px;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 15px;
}
        .price-comment  p{
        margin-left: 0%;
        margin-right: 0%;
    }
    .box-comment{
          width: 550px;
        }
    .box-comment textarea[type = "text"] {
    width: 400px;
    }
    .box-comment textarea[type = "text"]:focus {
        width: 450px;
    }
    .comment-body {
        width: 550px;
        box-shadow: 0px 0px 28px -4px #000;
        background-color: #404040;
        border-radius: 20px;
        margin-top: 30px;
    }
    
}

@media (max-width: 651px) {
    .content-comment {
        margin-bottom: 40px;
    }
    .product-comment {
        box-shadow: 0px 0px 128px -4px #000;
        background-color: #404040;
        border-radius: 18px;
        width: 335px;
        margin-top: 40px;
        height: 100%;
    }


    .product-comment .tovar-comment {
        width: 335px;
        height: 335px;

    }
    .product-text-comment  p{
        margin-left: 3%;
        margin-right: 3%;
    }
   nobr{
    margin-right: -30%;
}
    .product-but-comment{
        margin-left: -20px;
    }
    .box-comment{
          width: 335px;
        }
    .box-comment textarea[type = "text"] {
    width: 270px;
    }
    .box-comment textarea[type = "text"]:focus {
        width: 290px;
    }
    .box-comment input[type = "text"]{
      width: 200px;
    }
    .box-comment input[type = "text"]:focus{
      width: 250px;
      border-color: #2ecc71;
  
}
    .comment-body {
        width: 335px;
        box-shadow: 0px 0px 28px -4px #000;
        background-color: #404040;
        border-radius: 20px;
        margin-top: 30px;
    }
}



/*<!--конец товаров-->*/