﻿@model Forprotection.Models.DB.Article
<div class="article">
    <div class="article-image">


        <img src="~/@Model.Image.Path" alt="@Model.Name">

        @if (User.IsInRole("admin"))
        {
    <div class="edit-delete">
        @Html.ActionLink("Редактировать", "EditArticle", new { id = Model.Id },htmlAttributes:new {@class = "login" })
        @Html.ActionLink("Удалить", "DeleteArticle", new { id = Model.Id },htmlAttributes:new {@class = "login" })
    </div>
        }
                <div style="width:150px"></div>
        </div>
    <div class="article-text">
        <h1>@Model.Name</h1>
        <time>@Model.DateCreated.ToShortDateString()</time>
        <p>@Model.Body</p>
    </div>
</div>