﻿@model Forprotection.Models.DB.Product
<div class="content-comment">
    <div class="product-comment">

        <div class="image-block">
            <div class="product-text-comment">
                <h4>@Model.Name</h4>
            </div>
            <img class="tovar-comment" src="~/@Model.Image.Path" alt="">
        </div>

        <div class="product-text-comment">
            <p style="white-space:pre-wrap">@Model.Description</p>
            <p style="white-space:pre-wrap">@Model.ExtraDescription</p>
            <div class="product-but-comment">
                <div class="price-comment red">
                    <p>
                        @Model.Price₴
                    </p>
                </div>
                @if (Model.Nal == "В наличии")
                {
                    <div class="price green">
                        <p>
                            В НАЛИЧИИ
                        </p>
                    </div>
                }
                @if (Model.Nal == "Ожидается")
                {
                    <div class="price yellow">
                        <p>
                            ОЖИДАЕТСЯ
                        </p>
                    </div>
                }
                @if (Model.Nal == "Нет в наличии")
                {
                    <div class="price grey">
                        <p>
                            НЕТ В НАЛИЧИИ
                        </p>
                    </div>
                }
                @if (User.IsInRole("admin"))
                {
                    <div class="edit-delete">
                        @Html.ActionLink("Редактировать", "EditProduct", new { id = Model.Id }, htmlAttributes: new { @class = "login" })
                        @Html.ActionLink("Удалить", "DeleteProduct", new { id = Model.Id }, htmlAttributes: new { @class = "login" })
                    </div>
                }
                else
                {
                    if (Model.Nal == "Нет в наличии")
                    {

                    }
                    else
                    {
                        <p>
                            <nobr>кол-во.</nobr>
                        </p>
                        using (Html.BeginForm("Trash", "Home", FormMethod.Post, htmlAttributes: new { @style = "width:100px;display:flex" }))
                        {
                            <input required type="number" id="Quantity" name="Quantity" placeholder="1" value="1" min="1" max="20">
                            <input type="hidden" name="Id" value="@Model.Id">
                            if (User.Identity.IsAuthenticated)
                            {
                                <div class="store-btn addProduct">
                                    <input type="image" src="~/Images/60641.png" style="border-radius:50px;margin-left:-2px">
                                </div>
                            }
                            else
                            {
                                <div class="store-btn">
                                    <input type="image" src="~/Images/60641.png" style="border-radius:50px;margin-left:-2px">
                                </div>
                            }

                        }
                    }

                }
            </div>
        </div>

    </div>
</div>