﻿@model Forprotection.Models.DB.Order
    <tr>
        <td>@Model.Id</td>
        <td>@Model.OrderId</td>
        <td>@Model.AccountInfo.Firstname @Model.AccountInfo.Lastname</td>
        <td>@Model.AccountInfo.TelephoneNumber</td>
        <td>@Model.AccountInfo.Email</td>
        @if (Model.DeliveryType == "0")
        {
            <td>@Model.Adress</td>
            <td>@Model.Department</td>
        }
        else
        {
            <td>&#11835;</td>
            <td>&#11835;</td>
        }

        @if (Model.DeliveryType == "0")
        {
            <td>
                Новая почта
            </td>
        }
        else
        {
            <td>
                Самовывоз
            </td>
        }
        @if (Model.PayType == "0")
        {
            <td>
                Оплата при получении
            </td>
        }
        else
        {
            <td>
                Оплата картой
            </td>
        }
        <td>
            @foreach (var i in Model.OrderItems)
            {<p>@i.Product.Name x @i.Quantity</p>}
        </td>
        <td>
            @Model.Price
        </td>
        @if (Model.Promocode == null)
        {
            <td>
                &#11835;
            </td>
        }
        else
        {
            <td>
                @Model.Promocode.Code
            </td>
        }
        @if (Model.Status == "Ожидает отправки")
        {
            <td style="background-color:#ff2d2d">
                @Html.ActionLink("Отправить", "OrderDoneAdmin", new { id = Model.Id })
            </td>
        }
        else
        {
            <td style="background-color:#2ecc71">
                Отправлен
            </td>
        }
        <td>@Html.ActionLink("Редактировать", "EditOrderAdmin", new { id = Model.Id })</td>
    </tr>