﻿@model Forprotection.Models.DB.FAQ
    <div class="faq-but">
        
        <div class="faq-btn">
            @if (User.IsInRole("admin"))
            {
                <div class="edit-delete" style="position:absolute; left:300px;">
                    @Html.ActionLink("Редактировать", "EditFAQ", new { id = Model.Id }, htmlAttributes: new { @class = "login" })
                    @Html.ActionLink("Удалить", "DeleteFAQ", new { id = Model.Id }, htmlAttributes: new { @class = "login" })
                </div>
            }
            <p>@Model.Question</p>
        </div>
        <div class="faq_menu">
            <p>@Model.Answer</p>
        </div>
    </div>
