﻿@model Forprotection.Models.DB.Product


<div class="product">
    <a href="@Url.Action("ViewProductComment","Home",new {id = Model.Id })" ><img class="tovar" src="~/@Model.Image.Path" alt=""></a>
    <div class="product-text">
        <h4>@Model.Name</h4>
        <div class="price_line">
            <div class="price red">
                <p>
                    @Model.Price₴
                </p>
            </div>
            @if (Model.Nal == "В наличии")
            {
                <div class="price green">
                    <p>
                        В НАЛИЧИИ
                    </p>
                </div>
            }
            @if (Model.Nal == "Ожидается")
            {
                <div class="price yellow">
                    <p>
                        ОЖИДАЕТСЯ
                    </p>
                </div>
            }
            @if (Model.Nal == "Нет в наличии")
            {
                <div class="price grey">
                    <p>
                        НЕТ В НАЛИЧИИ
                    </p>
                </div>
            }
        </div>

        @if (Model.Description.Length > 150)
        {
            string desc = Model.Description.Substring(0, 150);
            <p style="white-space: pre-wrap;height:100px;overflow:hidden;">@desc...</p>
        }
        else
        {
            <p style="white-space: pre-wrap;height:100px;overflow:hidden;">@Model.Description</p>
        }

    </div>
    <div class="product-but">
        <div class="plus-btn">
            <a href="@Url.Action("ViewProductComment","Home",new {id = Model.Id })"><img src="~/Images/60640.png" alt=""></span></a>
        </div>
        @if (User.IsInRole("admin"))
        {
            <div class="edit-delete">
                @Html.ActionLink("Редактировать", "EditProduct", new { id = Model.Id }, htmlAttributes: new { @class = "login" })
                @Html.ActionLink("Удалить", "DeleteProduct", new { id = Model.Id }, htmlAttributes: new { @class = "login" })
            </div>
        }
        else
        {
            if (Model.Nal == "Нет в наличии")
            {

            }
            else
            {
                <p>
                    <nobr>кол-во.</nobr>
                </p>
                using (Html.BeginForm("Trash", "Home", FormMethod.Post, htmlAttributes: new { @style = "width:100px;display:flex" }))
                {
                    <input required type="number" id="Quantity" name="Quantity" placeholder="1" value="1" min="1" max="20">
                    <input type="hidden" name="Id" value="@Model.Id">
                    if (User.Identity.IsAuthenticated)
                    {
                        <div class="store-btn addProduct">
                            <input type="image" src="~/Images/60641.png" style="border-radius:50px;margin-left:-2px">
                        </div>
                    }
                    else
                    {
                        <div class="store-btn">
                            <input type="image" src="~/Images/60641.png" style="border-radius:50px;margin-left:-2px">
                        </div>
                    }

                }
            }

        }
    </div>
</div>