﻿<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="stylesheet" href="~/Content/edit.css">
</head>
<body>
    <div class="main-login-product">
        @using (Html.BeginForm("AddSlider", "Home", FormMethod.Post, new { @enctype = "multipart/form-data", @class = "box-product" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <h1>Добавление картинки</h1>
            <input type="text" name="Url" placeholder="Url"/>
            <input type="file" name="uploadFile" value="" />
            <input type="submit" name="" value="Сохранить">
            <div>
                @Html.ActionLink("Вернуться", "Index","Home")
            </div>
        }
    </div>
</body>

</html>