﻿@model List<Forprotection.Models.DB.Article>
@{
    ViewBag.Title = "Articles";
}
@if (User.IsInRole("admin"))
{
    @Html.ActionLink("Создать статью", "CreateArticle", new { }, htmlAttributes: new { @class = "login" })
}
<div class="articles">

    @foreach (var a in Model)
    {
        Html.RenderPartial("_ViewArticle", a);
    }
</div>