﻿@model Forprotection.Models.DB.Promocode
<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="stylesheet" href="~/Content/edit.css">
</head>
<body>
    <div class="main-login-product">
        @using (Html.BeginForm("CreatePromocode", "Home", FormMethod.Post, new { @class = "box-product" }))
        {
            @Html.AntiForgeryToken()
            <h1>Создание промокода</h1>
            <input type="text" name="Code" id="Code" placeholder="Название промокода">
            <input type="number" name="DiscountPercent" id="DiscountPercent"  min="0" max="100" placeholder="Скидка">
            <input type="submit" name="" value="Сохранить">
            <div>
                @Html.ActionLink("Вернуться к списку", "Promocodes")
            </div>
        }
    </div>
</body>

</html>