﻿@model Forprotection.Models.DB.Product
<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="stylesheet" href="~/Content/edit.css">
</head>
<body>
    <div class="main-login-product">
        @using (Html.BeginForm("CreateProduct", "Home", FormMethod.Post, new { enctype = "multipart/form-data", @class = "box-product" }))
        {
            @Html.AntiForgeryToken()
            <h1>Редактирование продукта</h1>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <input type="text" name="Name" id="Name" value="" placeholder="Название товара">
            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { min = "0", placeholder="Цена" } })
            <textarea placeholder="Описание товара" rows="7" cols="45" name="Description" id="Description"></textarea>
            <textarea placeholder="Дополнительное описание товара" rows="10" cols="40" name="ExtraDescription" id="ExtraDescription"></textarea>
            <input type="file" name="uploadFile" value="" />
            <input type="submit" name="" value="Сохранить">
            <div>
                @Html.ActionLink("Вернуться к списку", "Index")
            </div>
        }
    </div>
</body>

</html>