﻿@model Forprotection.Models.DB.Product
<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="stylesheet" href="~/Content/edit.css">
</head>
<body>
    <div class="main-login-product">
        @using (Html.BeginForm("EditProduct", "Home", FormMethod.Post, new { enctype = "multipart/form-data", @class = "box-product" }))
        {
            @Html.AntiForgeryToken()
            <h1>Редактирование продукта</h1>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
            <input type="text" name="Name" id="Name" value="@Model.Name" placeholder="Название товара">
            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { min = "0" } })
            <textarea placeholder="Описание товара" rows="7" cols="45" name="Description" id="Description">@Model.Description</textarea>
            <textarea placeholder="Дополнительное описание товара" rows="10" cols="40" name="ExtraDescription" id="ExtraDescription">@Model.ExtraDescription</textarea>
            <select name="Nal">
                <option value="В наличии">В наличии</option>
                <option value="Нет в наличии">Нет в наличии</option>
                <option value="Ожидается">Ожидается</option>
            </select>
            <input type="file" name="uploadFile" value="" />
            <input type="submit" name="" value="Сохранить">
            <div>
                @Html.ActionLink("Вернуться к списку", "Index")
            </div>
        }
    </div>
</body>

</html>