﻿@model Forprotection.Models.DB.Order
<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="stylesheet" href="~/Content/edit.css">
</head>
<body>
    <div class="main-login-product">
        @using (Html.BeginForm("EditOrderAdmin", "Home", FormMethod.Post, new { @class = "box" }))
        {
            @Html.AntiForgeryToken()
            <h1>Редактирование заказа</h1>
            @Html.HiddenFor(model => model.Id)
            <input required type="text" name="Firstname" placeholder="Имя" value="@Model.AccountInfo.Firstname">
            <input required type="text" name="Lastname" placeholder="Фамилия" value="@Model.AccountInfo.Lastname">
            <input required type="text" name="TelephoneNumber" placeholder="Номер телефона" value="@Model.AccountInfo.TelephoneNumber">

            if (Model.DeliveryType == "0")
            {
                <input type="hidden" id="DeliveryType" name="DeliveryType" value="0"/>
                        <input type="text" id="Adress" name="Adress" placeholder="Город" value="@Model.Adress">
                        <input type="number" id="Department" name="Department" placeholder="Отделение" value="@Model.Department">
            }
            <input type="submit" name="" value="Сохранить">
        }
    </div>
</body>

</html>