﻿@model Forprotection.Models.DB.FAQ
<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="stylesheet" href="~/Content/edit.css">
</head>
<body>
    <div class="main-login-product">
        @using (Html.BeginForm("EditFAQ", "Home", FormMethod.Post, new { @class = "box-product" }))
        {
            @Html.AntiForgeryToken()
            <h1>Редактирование вопрос-ответ</h1>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
            <textarea placeholder="Вопрос" rows="7" cols="45" name="Question" id="Question">@Model.Question</textarea>
            <textarea placeholder="Ответ" rows="10" cols="40" name="Answer" id="Answer">@Model.Answer</textarea>
            <input type="submit" name="" value="Сохранить">
            <div>
                @Html.ActionLink("Вернуться к списку", "FAQ")
            </div>
        }
    </div>
</body>

</html>