﻿@model Forprotection.Models.DB.Article


<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/Content/edit_article.css">
</head>
<body>
    <div class="main-article">
        @using (Html.BeginForm("EditArticle", "Home", FormMethod.Post, new { enctype = "multipart/form-data", @class = "box-article" }))
        {
            <h1>Редактирование статьи</h1>
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)

            <input type="text" name="Name" id="Name" value="@Model.Name" placeholder="Название статьи">

            <textarea placeholder="Текст статьи" rows="30" cols="100" name="Body" id="Body">@Model.Body</textarea>

            <input type="file" name="uploadFile" value="" />
            <input type="submit" name="" value="Сохранить">

            <div>
                @Html.ActionLink("Вернуться к списку", "Articles")
            </div>
        }
    </div>
</body>
</html>
