﻿@model List<Forprotection.Models.DB.FAQ>
    <div class="content_faq">
        @if (User.IsInRole("admin"))
        {
            @Html.ActionLink("Создать вопрос-ответ", "CreateFAQ", new { }, htmlAttributes: new { @class = "login" })
        }
        @foreach (var item in Model)
        {
            Html.RenderPartial("_ViewFAQ", item);
        }

    </div>