﻿@model Forprotection.Models.ProductSliderViewModel
@{
    ViewBag.Title = "Home Page";
}
@if (User.IsInRole("admin"))
{
    @Html.ActionLink("Добавить картинку", "AddSlider", new { }, htmlAttributes: new { @class = "login" })
}
<main>
    <div class="owl-carousel owl-theme">
        @foreach (var s in Model.SliderImages)
        {
            <div class="item">
                @if (User.IsInRole("admin"))
                {
                    @Html.ActionLink("Удалить", "DeleteSlider", new { id = s.Id }, htmlAttributes: new { @class = "login", position = "relative" })
                }
                <a href="@s.Url"><img src="@s.Path" alt=""></a>
            </div>
        }

    </div>
</main>
<div class="store-line">
    <h1>НАШИ ТОВАРЫ</h1>
</div>
<!--начало товаров-->
@if (User.IsInRole("admin"))
{
    @Html.ActionLink("Создать продукт", "CreateProduct", new { }, htmlAttributes: new { @class = "login" })
}
<div class="content">
    @foreach (var p in Model.Products)
    {
        Html.RenderPartial("_ViewProduct", p);
    }
</div>