﻿<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="stylesheet" href="~/Content/license_delivery.css">
</head>
<body>
    <div class="lol">
        <div class="license_container">

            <div class="license-line">
                <h1>ОПЛАТА И ДОСТАВКА</h1>
                <p><strong>Заказы, подтвержденные менеджером до 15:00 отправляем в тот же день.<br><br> Все другие заказы — на следующий рабочий день.</strong></p>
            </div>
            <div class="license-text">

                <div class="license-box">
                    <h2>Способы оплаты:</h2>
                    <ul>
                        <li>
                            <strong>Оплата при получении</strong><br>
                            Оплата покупки при получении товара в отделении Новой Почты. Стоимость услуги «наложенный платеж» по тарифам Новой Почты: 20 грн + 2% от стоимости посылки.
                        </li>
                        <li>
                            <strong>Оплата пластиковой картой (Visa, MasterCard)</strong><br>

                            Оплата непосредственно на сайте при оформлении заказа.<br>
                            В случае оплаты банковской картой, доставка оплачивается дополнительно по тарифам транспортной компании.
                        </li>

                    </ul>
                </div>
                <div class="license-box">
                    <h2>Способы доставки:</h2>
                    <ul>
                        <li>
                            <strong>Самовывоз из города Днепр</strong><br>
                            После оформления заказа с Вами свяжется менеджер и уточнит детали.
                        </li>
                        <li>
                            <strong>Курьером по Украине</strong><br>
                            Согласно тарифам Новой Почты. Срок доставки: 1-3 дня.
                        </li>
                        <li>
                            <strong>По Украине в отделение Новой Почты</strong><br>
                            Согласно тарифам Новой Почты, от 40 грн. Срок доставки: 1-3 дня.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>

</html>

