﻿
<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="stylesheet" href="~/Content/license.css">
</head>
<body>
    <div class="lol">
        <div class="license_container-box">

            <div class="license-text-box">
                <div class="">
                    <h2> ПОЛЬЗОВАТЕЛЬСКОЕ СОГЛАШЕНИЕ</h2>
                    <h4>Осуществляя покупку в нашем интернет-магазине 4protection.com.ua Клиент соглашается с условиями нижеследующего договора:</h4>


                    <p>
                        <h4>1. Общие положения</h4>
                        1.1. Настоящие Условия являются публичной офертой в соответствии с законодательством Украины и соблюдением норм Закона Украины "О защите прав потребителей".
                        <br>
                        1.2. Заказывая товары через Интернет-магазин 4protection.com.ua, Клиент соглашается с настоящими Условиями. Фактом акцепта оферты является оформления Заказа.
                        <br>
                        1.3. Продавец оставляет за собой право вносить изменения в настоящие Условия, в связи с чем, Клиент обязуется регулярно отслеживать изменения в Условиях.
                        <br>
                    </p>

                    <p>
                        <h4>2. Оформление Заказа</h4>
                        2.1. Для оформления Заказа необходимо указать фактические контактные координаты Клиента в Интернет-магазине.
                        <br>
                        2.2. Продавец не несет ответственности за достоверность информации, предоставляемой Клиентом оформлении заказа.
                        <br>
                        2.3. Заказ Клиента может быть оформлен  в Интернет-магазине.
                        <br>
                        2.4. После оформления Заказа Клиенту предоставляется информация об ожидаемой дате передачи Товара Клиенту. Указанная дата зависит от наличия заказанных Товаров на складе Продавца и времени, необходимого на производство Товара.
                        <br>
                        2.5.Все информационные материалы, представленные на Сайте, носят справочный характер и не могут в полной мере передавать достоверную информацию о свойствах и характеристиках Товара, включая цвета, размеры и формы. Некоторые Товары могут незначительно отличаться от представленных на фотографии. В случае возникновения у Клиента вопросов, касающихся свойств и характеристик Товара, перед оформлением Заказа, Клиент должен обратиться к Продавцу.
                        <br>
                        2.6. В случае аннулирования предоплаченного Заказа, сумма предоплаты полностью возвращается Продавцом Клиенту согласованным сторонами способом.
                        <br>
                    </p>

                    <p>
                        <h4>3. Доставка</h4>
                        3.1. Доставка осуществляется транспортными компаниями либо курьерской службой за счёт Заказчика.
                        <br>
                        3.2. Доставка заказа до транспортной компании бесплатно.
                        <br>
                        3.3. Конечные сроки получения заказа зависят от адреса и региона доставки и работы конкретной службы доставки.
                        <br>
                    </p>

                    <p>
                        <h4>4. Оплата Товара</h4>
                        4.1. Цена Товара указывается в Интернет-магазине за упаковку, эта информация указана рядом с  Товаром.
                        <br>
                        4.2. Цена Товара в Интернет-магазине может быть изменена Продавцом в одностороннем порядке. При этом цена на заказанный Клиентом Товар изменению не подлежит.
                        <br>
                        4.3. Продавец вправе предоставлять Клиенту скидки на Товар и устанавливать программу бонусов. Виды скидок, бонусов, порядок и условия начисления указаны в Интернет-магазине и могут быть изменены Продавцом в одностороннем порядке.
                        <br>
                        4.4. Цены не включают стоимость доставки Товара.
                        <br>
                    </p>

                    <p>
                        <h4>5. Отказ от заказа и возврат Товара</h4>
                        5.1. Клиент вправе отказаться от заказанного Товара  до его отгрузки, а после получения Товара – в течение 14 дней, не считая дня покупки. Возврат Товара надлежащего качества возможен в случае, если сохранены его товарный вид, потребительские свойства, упаковка, а также документ, подтверждающий факт покупки указанного Товара. Вскрытые покупателем упаковки не подлежат возврату.
                        <br>
                        5.2. Клиент не вправе отказаться от Товара надлежащего качества, имеющего индивидуально-определенные свойства, если указанный Товар может быть использован исключительно приобретающим его Клиентом.
                        <br>
                        5.3. При отказе Клиента от Товара согласно п.5.1 Условий Продавец возвращает ему стоимость возвращенного Товара, за исключением расходов продавца на доставку от Клиента возвращенного Товара, не позднее чем через 10 дней с даты получения Продавцом письменного заявления Клиента.
                        <br>
                        5.4. Отказ от поставленного товара возможен в момент приема товара от курьера или в отделении курьерской почты, если товар имеет явные дефекты, поврежденную упаковку, что привело к его вскрытию. Транспортные повреждения упаковки, не приведшие к ее вскрытию и повреждению содержимого, не являются поводом для возвращения товара.
                        <br>
                        5.5. При отказе от кондиционного товара покупатель оплачивает стоимость доставки 25 грн. по Киеву и стоимость транспортировки курьерской почтой в оба конца.
                        <br>
                    </p>

                    <p>
                        <h4>6. Конфиденциальность и защита персональной информации</h4>
                        6.1. При регистрации в Интернет-магазине Клиент предоставляет следующую информацию:
                        <br>

                        • фамилию и имя Клиента
                        <br>
                        • адрес доставки Товара
                        <br>
                        • контактный телефон
                        <br>
                        • адрес электронной почты
                        <br>
                        6.2. Продавец использует информацию, представленную Клиентом, в следующих случаях:
                        <br>
                        • для выполнения своих обязательств перед Клиентом;
                        <br>
                        • для анализа работы Интернет-магазина;
                        <br>
                        • для направления Клиенту сообщений рекламно-информационного характера
                        <br>
                        6.3. Продавец обязуется не разглашать полученную от Клиента информацию. Не считается нарушением предоставление Продавцом информации агентам и третьим лицам, действующим на основании договора с Продавцом, для исполнения обязательств перед Клиентом, и только в объеме, необходимом для исполнения ими своих обязательств.
                        <br>
                        6.4. Не считается нарушением обязательств разглашение информации в соответствии с обоснованными и применимыми требованиями законодательства Украины.
                        <br>
                        6.5. Продавец вправе использовать технологию “cookies”. “Cookies” не содержат конфиденциальную информацию и не передаются третьим лицам.
                        <br>
                        6.6. Продавец получает информацию об ip-адресе посетителя Интернет-магазина. Данная информация не используется для установления личности посетителя.
                        <br>
                    </p>

                    <p>
                        <h4>7. Прочие условия</h4>
                        7.1. В случае возникновения вопросов и претензий со стороны Клиента он должен обратиться к Продавцу, используя контактную информацию, размещенную в Интернет-магазине. Все возникающее споры стороны будут стараться решить путем переговоров, при недостижении соглашения спор будет передан на рассмотрение в судебный орган в соответствии с действующим законодательством Украины.
                        <br>
                        7.2. Признание судом недействительности какого-либо положения настоящих Условий не влечет за собой недействительность остальных положений.
                        <br>
                        7.3. Вся текстовая информация и графические изображения, находящиеся в Интернет-магазине являются собственностью Продавца и/или его контрагентов.
                        <br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
