﻿@model Forprotection.Models.LiqPayCheckoutFormModel
@{
    ViewBag.Title = "Liqpay Test";
}

<div id="liqpay_checkout"></div>
    <script>
      window.LiqPayCheckoutCallback = function() {
        LiqPayCheckout.init({
          data:"@Model.Data",
          signature: "@Model.Signature",
          embedTo: "#liqpay_checkout",
          mode: "embed" // embed || popup,
           }).on("liqpay.callback", function(data){
                console.log(data.status);
               console.log(data);
                }).on("liqpay.ready", function(data){
                    // ready
                }).on("liqpay.close", function (data) {
            });
      };
    </script>
    <script src="//static.liqpay.ua/libjs/checkout.js" async></script>
