﻿@model List<Forprotection.Models.DB.Order>
@using (Ajax.BeginForm("SearchByTelephoneNumber", new AjaxOptions { UpdateTargetId = "results" }))
{
    <input type="tel" class="TelephoneNumber" name="name" placeholder="Номер телефона" />
    <button>Поиск</button>
}
@using (Ajax.BeginForm("SearchByOrderId", new AjaxOptions { UpdateTargetId = "results" }))
{
    <input type="text" name="name" placeholder="Номер заказа" />
    <button>Поиск</button>
}
<div class="order_table">
    <table id="customers">
        <tr>
            <th>Id</th>
            <th>Заказ</th>
            <th>Имя и фамилия</th>
            <th>Номер телефона</th>
            <th>Эл. почта</th>
            <th>Город</th>
            <th>Отделение</th>
            <th>Способ доставки</th>
            <th>Способ оплаты</th>
            <th>Товары</th>
            <th>Цена</th>
            <th>Промокод</th>
            <th>Статус</th>
            <th></th>

        </tr>
        <tbody id="results">
            @{
                Html.RenderPartial("_ViewOrders", Model);
            }
        </tbody>
    </table>
</div>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>