﻿@model List<Forprotection.Models.DB.OrderItem>
@if (Session["Trash"] is null)
{
    <div class="box"style="height:220px">
            <h1 style="margin-top:90px;">Корзина пуста</h1>
    </div>
}
else
{
    <div class="order_table">
        <table id="customers">
            <tr>
                <th colspan="2">Название</th>
                <th>Кол-во</th>
                <th>Цена</th>
                <th></th>
            </tr>
            @{decimal SumPrice = 0;}
            @foreach (var item in Model)
            {
                {
                    SumPrice += item.Price;
                }
                <tr>
                    <td><img src="~/@item.Product.Image.Path" alt="Alternate Text" /></td>
                    <td>@item.Product.Name</td>
                    <td>@item.Quantity</td>
                    <td>@item.Price</td>
                    <td>@Html.ActionLink("Убрать", "DeleteOrderItem", new { id = item.Id }, htmlAttributes: new { @class = "deleteProduct" })</td>
                </tr>
            }

        </table>
        @using (Html.BeginForm("Order", "Home", FormMethod.Post, htmlAttributes: new { @class = "order_block" }))
        {

            <div class="order_gg">
                <div class="order_promo">
                    <h1>Промо код:&nbsp;</h1>
                    <input type="text" name="Promocode">
                </div>
                <div class="order_price">
                    <input type="hidden" name="Price" value="@SumPrice">
                    <h1>Общая стоимость:&nbsp;</h1>
                    <h1>@SumPrice</h1>
                </div>
            </div>

            <div class="order_btn">
                <a id="continue" href="@Url.Action("Index","Home")">Продолжить покупки</a>
                <a href="@Url.Action("OrderCreate", "Home")"><input type="submit" name="" value="Оформить заказ"></a>
            </div>
        }
    </div>
}
