﻿@model Forprotection.Models.PromocodeViewModel
<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="stylesheet" href="~/Content/edit.css">
</head>
<body>
    <div class="main-login-product">
        @using (Html.BeginForm("OrderCreate", "Home", FormMethod.Post, new { @class = "box" }))
        {
            @Html.AntiForgeryToken()
            <h1>Оформление заказа</h1>
            <input required type="text" name="Firstname" placeholder="Имя">
            <input required type="text" name="Lastname" placeholder="Фамилия">
            <input required type="text" name="TelephoneNumber" placeholder="Номер телефона">
            string promo = "";
            if (Model.Promocode == null)
            {
                promo = "";
            }
            else
            { promo = Model.Promocode.Code; }

            <input type="hidden" name="Promocode" value="@promo ">
                string adress = null;
                using (StreamReader fs = new StreamReader(Server.MapPath("~/AdminPass/adress.txt")))
                {
                    while (true)
                    {
                        // Читаем строку из файла во временную переменную.
                        string temp = fs.ReadLine();

                        // Если достигнут конец файла, прерываем считывание.
                        if (temp == null) { break; }

                        adress = temp;
                    }
                }
            <button class="collapsible login">Способ доставки</button>
            <div class="content_order">
                <label>Новая почта</label><input required class="collapsible" value="0" type="radio" name="DeliveryType" id="radioButton">
                <div class="content_order">
                    <input type="text" id="Adress" name="Adress" placeholder="Город">
                    <input type="number" id="Department" name="Department" placeholder="Отделение">
                </div>
                <label>Самовывоз</label><input required class="collapsible" value="1" type="radio" name="DeliveryType" id="radioButton">
                <div class="content_order">
                    <label>@adress</label>
                </div>
            </div>
            <button class="collapsible login" style="margin-top:20px">Способ оплаты</button>
            <div class="content_order">
                <label>Оплата при получении</label><input required class="collapsible" value="0" type="radio" name="PayType" id="radioButton"><br />
                <label>Оплата картой</label><input required class="collapsible" value="1" type="radio" name="PayType" id="radioButton">
            </div>
            <input type="hidden" name="Price" value="@Model.Price">
            <div class="login red" style="margin:20px auto; width:250px">Общая стоимость: @Model.Price</div>

            <input type="submit" class="OrderCreate" name="" value="Оформить заказ">
        }
    </div>
</body>

</html>