﻿@model List<Forprotection.Models.DB.Promocode>

    @Html.ActionLink("Создать промокод", "CreatePromocode", new { }, htmlAttributes: new { @class = "login" })
<div class="order_table">
    <table id="customers">
        <tr>
            <th>Id</th>
            <th>Название</th>
            <th>Скидка</th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Code</td>
                <td>@item.DiscountPercent</td>
                <td>@Html.ActionLink("Удалить", "DeletePromocode", new {id = item.Id })</td>
            </tr>
        }
    </table>
</div>