﻿@model Forprotection.Models.ProductViewModel

<div class="content-comment">
    <div class="product-comment">

        <div class="image-block">
            <div class="product-text-comment">
                <h4>@Model.Product.Name</h4>
            </div>
            <img class="tovar-comment" src="~/@Model.Product.Image.Path" alt="">
        </div>

        <div class="product-text-comment">
            <p style="white-space:pre-wrap">@Model.Product.Description</p>
            <p style="white-space:pre-wrap">@Model.Product.ExtraDescription</p>
            <div class="product-but-comment">
                <div class="price-comment red">
                    <p>
                        @Model.Product.Price₴
                    </p>
                </div>

                @if (User.IsInRole("admin"))
                {
                    <div class="edit-delete">
                        @Html.ActionLink("Редактировать", "EditProduct", new { id = Model.Product.Id }, htmlAttributes: new { @class = "login" })
                        @Html.ActionLink("Удалить", "DeleteProduct", new { id = Model.Product.Id }, htmlAttributes: new { @class = "login" })
                    </div>
                }
                else
                {
                    if (Model.Product.Nal == "Нет в наличии")
                    {

                    }
                    else
                    {
                        <p>
                            <nobr>кол-во.</nobr>
                        </p>
                        using (Html.BeginForm("Trash", "Home", FormMethod.Post, htmlAttributes: new { @style = "width:100px;display:flex" }))
                        {
                            <input required type="number" id="Quantity" name="Quantity" placeholder="1" value="1" min="1" max="20">
                            <input type="hidden" name="Id" value="@Model.Product.Id">
                            if (User.Identity.IsAuthenticated)
                            {
                                <div class="store-btn addProduct">
                                    <input type="image" src="~/Images/60641.png" style="border-radius:50px;margin-left:-2px">
                                </div>
                            }
                            else
                            {
                                <div class="store-btn">
                                    <input type="image" src="~/Images/60641.png" style="border-radius:50px;margin-left:-2px">
                                </div>
                            }

                        }
                    }

                }
            </div>
        </div>

    </div>
</div>
@foreach (var item in Model.Comments)
{
    <div class="commentary">
        <div class="comment-body">
            <div class="first_row">
                <h1 class="comment-nick">@item.Nickname</h1>
            </div>
            
                <p style="" class="comment-p">@item.Text</p>
                <h4 class="comment-date">@item.CreatedDate</h4>
                </div>

            </div>
}

<div class="commentary">
    <form class="box-comment" method="post">
        <h1>Поделитесь своим мнением!</h1>
        <input type="text" name="nickname" placeholder="Введите имя">
        <textarea placeholder="Оставьте комментарий" name="text" rows="5" cols="100" type="text"></textarea>
        <input type="hidden" name="date" value="@DateTime.Now" />
        <input type="hidden" name="product_id" value="@Model.Product.Id" />
        <input type="submit" name="" value="Оставить коментарий">
    </form>

</div>